$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "@scss/icons/fonts" !default;

$icon-linkedin: "\e909";
$icon-github: "\e90a";
$icon-webpack: "\e900";
$icon-php: "\e901";
$icon-node: "\e902";
$icon-inkscape: "\e903";
$icon-figma: "\e904";
$icon-graphql: "\e905";
$icon-sass: "\e906";
$icon-typescript: "\e907";
$icon-react: "\e908";

