@use '/src/scss/variables/layout.scss' as lo;
@use 'sass:map';

.container{
    margin: auto;
    max-width: 100%;
    width: 100%;
}

@each $size,$bp in lo.$containerBreakpoints{
    @media screen and (min-width:#{$bp}px) {
        .container{
            width: #{map.get($map: lo.$containerSizes, $key:$size )}px;
        }
    }
}