$border-width: 1rem;
$spinner-size: 100px;
.spinner{
    width: $spinner-size;
    height: $spinner-size;
    margin: auto;
    border-radius: 50%;
    border-top: $border-width solid #fff;
    border-bottom: $border-width solid #fff;
    border-left: $border-width solid transparent;
    border-right: $border-width solid transparent;
    animation: Spin 1.5s infinite ease-in-out;
    &-wrap{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
    
    }
}


@keyframes Spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
