.view-about{
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-heading{
        margin-top: 2rem;
        margin-bottom: 4rem;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }
    &-text{
        font-size: 1.5rem;
        line-height: 2;
        margin-bottom: 2rem;
        &-top{
            font-style: italic;
            line-height: 1.6;
            width:500px;
            max-width:100%;
            margin:auto;
        }
    }
}