.view-about{
    &-content{
        width: 600px;
        max-width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &-fs-lg{
            font-size: 1.5rem;
            line-height: 1.25;
            // text-align: center;
        }
    }
    &-text{
        font-size: 1.5rem;
        line-height: 2;
        margin-bottom: 2rem;
        &-top{
            font-style: italic;
            line-height: 1.6;
            width:500px;
            max-width:100%;
            margin:auto;
        }
    }
}