.view-contacts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-item{
        font-size: 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        text-decoration: none;
        color: #fff;
        i{
            font-size: 2em;
            color: rgb(240, 246, 252);
            transition: transform .3s;
        }
        span{
            margin: auto;
        }
    }

    &-heading{
        text-align: center;
        font-size: 1.25rem;
        padding: .5rem 1rem 1rem .5rem;
    }
    .btn-neon{
        display: block;
        text-align: center;
        width: 350px;
        max-width: 100%;
        margin: auto;
        & + .btn-neon{
            margin-top: 1rem;
        }
        &:hover{
            i{
                transform: scale(1.25);
            }
        }
    }
}